<div class="form">
  <h1>Add New Record</h1>
  <p>Insert new record to the dataset</p>
  <div>
    <label for="ref_number" class="form-label" >Ref Number</label>
    <input id="ref_number" class="form-control" [(ngModel)]="ref_number" required/>
  </div>
  <div>
    <label for="title" class="form-label" >Title</label>
    <input id="title" class="form-control" [(ngModel)]="title" required/>
  </div>
  <div>
    <label for="purpose" class="form-label" >Purpose</label>
    <input id="purpose" class="form-control" [(ngModel)]="purpose" required/>
  </div>
  <div>
    <label for="start_date" class="form-label">Start Date</label>
    <input id="start_date" type="date" class="form-control" [(ngModel)]="start_date" required/>
  </div>
  <div>
    <label for="end_date" class="form-label">End Date</label>
    <input id="end_date" type="date" class="form-control" [(ngModel)]="end_date" required/>
  </div>
  <div>
    <label for="airfare" class="form-label">Airfare</label>
    <input id="airfare" type="number" class="form-control" [(ngModel)]="airfare" (ngModelChange)="calculateTotal()" required/>
  </div>
  <div>
    <label for="other_transport" class="form-label">Other Transportation</label>
    <input id="other_transport" type="number" class="form-control" [(ngModel)]="other_transport" (ngModelChange)="calculateTotal()" required/>
  </div>
  <div>
    <label for="meals" class="form-label">Meals</label>
    <input id="meals" type="number" class="form-control" [(ngModel)]="meals" (ngModelChange)="calculateTotal()" required/>
  </div>
  <div>
    <label for="other_expenses" class="form-label">Other Expenses</label>
    <input id="other_expenses" type="number" class="form-control" [(ngModel)]="other_expenses" (ngModelChange)="calculateTotal()" required/>
  </div>
  <p aria-live="polite">Total: <strong>{{ total | number:'1.2-2'}}</strong></p>

  <button class="btn btn-primary" (click)="submit()">Submit</button>
  <button class="btn btn-secondary mx-2" (click)="reset()">Reset</button>
</div>



